@import "init";

.banner {
  height: 100px;
  line-height: 100px;
  background: $light-orange;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin-bottom: 10px;
  color: $dark-teal;
}