@import "init";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 5%;

  img {
    width: 60px;
    height: 60px;
  }

  .menu {
    margin-left: 40px;

    &:hover {
      color: $dark-teal;
    }
  }
}