@import "init";

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 5%;
  background: $dark-teal;

  .logo {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: $yellow;
  }

  .menu {
    margin-left: 40px;
    border: none;
    font-size: 16px;
    background-color: transparent;
    color: white;

    &:hover {
      color: $light-orange;
    }
  }
}
