@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

$color-main: #2378C3;
$color-light: #EFF6FB;

$margin-left: 10%;

$dark-teal: #06545A;
$light-blue: #85C0E9;
$plum: #703d60;
$dark-orange: #de6449;
$light-orange: #f7996e;
$yellow: #FFDA52;