@import "init";

#media-detail {
  display: flex;
  margin: 30px $margin-left;

  img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-right: 40px;
  }

  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .media-type {
      font-size: 16px;
      font-weight: 500;
      width: 40px;
      padding: 3px 0;
      border: 2px solid $light-blue;
      border-radius: 100px;
      color: $light-blue;
      text-align: center;
      margin-bottom: 5px;
    }

    .title {
      font-size: 34px;
      font-weight: 700;
      color: $plum;
      width: 500px;
    }

    button {
      width: 200px;
      border-radius: 100px;
      background: $plum;
      color: $light-blue;
      font-weight: 700;
      
      &:hover {
        cursor: pointer;
      }
    }

    .adding {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      button {
        height: 34px;
        width: 76px;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;

        &:first-child{
          border: 2px solid $plum;
          color: $plum;
          background: white;
        }

        &:last-child{
          color: white;
          margin-left: 10px;
        }
      }

      select {
        width: 180px;
        height: 40px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 15px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .info {
    margin-bottom: 5px;

    span {
      font-weight: 500;
      color: $dark-orange;
    }
  }

  .description {
    border: 1px solid $plum;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;

    .title {
      margin-bottom: 10px;
      font-weight: 700;
      color: $dark-teal;
      font-size: 24px;
    }
  }
}