@import "init";

.plist {
    margin: 20px $margin-left;

    .title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
        color: $plum;
    }
    .media-wrap {

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 50px;
            border: 1px solid $dark-teal;
            border-radius: 10px;
            height: 80px;
            margin-bottom: 14px;

            .title {
                font-size: 24px;
                color: $dark-teal;
                margin: 0;
            }
        }
    }
}