@import "init";

.title-wrap {
  margin: 30px $margin-left;
  display: flex;
  justify-content: space-between;

  .title {
    color: $plum;
    font-size: 30px;
    font-weight: 700;
  }

  button {
    width: 100px;
    height: 50px;
    border-radius: 100px;
    outline: none;
    border: none;
    font-weight: 500;
    color: $light-blue;
    background: $plum;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  .submit {
    margin-left: 20px;
    background: $light-blue;
    color: $plum;
    font-weight: 700;
  }
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;

  button {
    border: 2px solid $plum;
    background: white;
    color: $plum;
    border-radius: 100px;
    width: 26px;
    height: 26px;
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }
}